[workspace]
resolver = "3"
members = [
  "crates/bastion",
  "crates/bastion-core",
]

[workspace.package]
edition = "2024"
rust-version = "1.92"
version = "0.1.0"

[workspace.lints.rust]
unsafe_code = "forbid"

