<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product
    Id="*"
    Name="Bastion"
    Language="1033"
    Version="$(var.ProductVersion)"
    Manufacturer="Bastion Contributors"
    UpgradeCode="cd8c3109-e86a-4a62-a73e-cbe52dbbd718"
  >
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Bastion is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="ARPCONTACT" Value="Bastion Contributors" />
    <Property Id="ARPHELPLINK" Value="https://github.com/Syt100/bastion/issues" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/Syt100/bastion" />
    <Property Id="ARPURLUPDATEINFO" Value="https://github.com/Syt100/bastion/releases" />
    <Icon Id="BastionProductIcon" SourceFile="assets\branding\bastion.ico" />
    <Property Id="ARPPRODUCTICON" Value="BastionProductIcon" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Start Bastion service and open Web UI (http://127.0.0.1:9876/)" />
    <Property Id="WixShellExecTarget" Value="http://127.0.0.1:9876/" />
    <Property Id="BASTION_REMOVE_DATA" Value="0" Secure="yes" />

    <WixVariable Id="WixUILicenseRtf" Value="packaging\windows\license.rtf" />

    <CustomAction
      Id="SetBastionDataCleanupCmd"
      Property="RunBastionDataCleanup"
      Value="&quot;[SystemFolder]cmd.exe&quot; /c if exist &quot;[CommonAppDataFolder]bastion&quot; rmdir /s /q &quot;[CommonAppDataFolder]bastion&quot;"
      Execute="immediate"
    />
    <CustomAction
      Id="RunBastionDataCleanup"
      BinaryKey="WixCA"
      DllEntry="WixQuietExec"
      Execute="deferred"
      Return="ignore"
      Impersonate="no"
    />
    <CustomAction
      Id="LaunchBastionWebUi"
      BinaryKey="WixCA"
      DllEntry="WixShellExec"
      Execute="immediate"
      Return="ignore"
      Impersonate="yes"
    />

    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <UIRef Id="WixUI_ErrorProgressText" />
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchBastionWebUi" Order="1">NOT Installed AND NOT WIX_UPGRADE_DETECTED AND WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1</Publish>
    </UI>

    <InstallExecuteSequence>
      <Custom Action="SetBastionDataCleanupCmd" Before="RunBastionDataCleanup">REMOVE=&quot;ALL&quot; AND NOT UPGRADINGPRODUCTCODE AND BASTION_REMOVE_DATA=&quot;1&quot;</Custom>
      <Custom Action="RunBastionDataCleanup" Before="InstallFinalize">REMOVE=&quot;ALL&quot; AND NOT UPGRADINGPRODUCTCODE AND BASTION_REMOVE_DATA=&quot;1&quot;</Custom>
    </InstallExecuteSequence>

    <Feature Id="ProductFeature" Title="Bastion" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Bastion" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Bastion" />
      </Directory>
      <Directory Id="CommonStartupFolder" />
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="BastionExe" Guid="7135a66f-8102-4b12-a6ac-427ed799ec99" Directory="INSTALLFOLDER" Win64="yes">
        <File Id="BastionExeFile" Source="$(var.SourceDir)\bastion.exe" KeyPath="yes" />

        <ServiceInstall
          Id="BastionServiceInstall"
          Name="Bastion"
          DisplayName="Bastion"
          Description="Bastion - self-hosted backup orchestrator"
          Type="ownProcess"
          Start="auto"
          ErrorControl="normal"
          Arguments="service run"
        />
        <ServiceControl
          Id="BastionServiceControl"
          Name="Bastion"
          Start="install"
          Stop="both"
          Remove="uninstall"
          Wait="yes"
        />
      </Component>

      <Component Id="StartMenuShortcuts" Guid="c3424233-408f-43c6-89dd-1fded14ff312" Directory="ApplicationProgramsFolder" Win64="yes">
        <Shortcut
          Id="StartMenuBastionShortcut"
          Name="Bastion"
          Description="Run Bastion"
          Target="[INSTALLFOLDER]bastion.exe"
          Icon="BastionProductIcon"
          IconIndex="0"
          WorkingDirectory="INSTALLFOLDER"
        />
        <Shortcut
          Id="StartMenuBastionTrayShortcut"
          Name="Bastion Tray"
          Description="Run Bastion tray"
          Target="[INSTALLFOLDER]bastion.exe"
          Arguments="--log-file &quot;[CommonAppDataFolder]bastion\logs\tray.log&quot; --log-rotation daily --log-keep-files 30 tray run"
          Icon="BastionProductIcon"
          IconIndex="0"
          WorkingDirectory="INSTALLFOLDER"
        />
        <util:InternetShortcut Id="StartMenuBastionWebUiShortcut" Name="Bastion Web UI" Target="http://127.0.0.1:9876/" Type="url" />
        <Shortcut
          Id="StartMenuBastionUninstallDataShortcut"
          Name="Uninstall Bastion (Remove data)"
          Description="Uninstall Bastion and remove data under C:\ProgramData\bastion"
          Target="[SystemFolder]msiexec.exe"
          Arguments="/x [ProductCode] BASTION_REMOVE_DATA=1"
          Icon="BastionProductIcon"
          IconIndex="0"
        />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Bastion" Name="StartMenuShortcuts" Type="integer" Value="1" KeyPath="yes" />
      </Component>

      <Component Id="BastionInstallRegistry" Guid="b1cb4047-6100-432c-9abe-5bedafe6984e" Directory="INSTALLFOLDER" Win64="yes">
        <RegistryValue Root="HKLM" Key="Software\Bastion" Name="InstallMarker" Type="integer" Value="1" KeyPath="yes" />
      </Component>

      <Component Id="TrayAutoStart" Guid="fcb34515-5e6d-4bc1-ad53-c5df6f13ac15" Directory="CommonStartupFolder" Win64="yes">
        <Shortcut
          Id="StartupBastionTrayShortcut"
          Name="Bastion Tray"
          Description="Start Bastion tray when logging in to Windows"
          Target="[INSTALLFOLDER]bastion.exe"
          Arguments="--log-file &quot;[CommonAppDataFolder]bastion\logs\tray.log&quot; --log-rotation daily --log-keep-files 30 tray run"
          Icon="BastionProductIcon"
          IconIndex="0"
          WorkingDirectory="INSTALLFOLDER"
        />
        <RegistryValue Root="HKLM" Key="Software\Bastion" Name="TrayStartupShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
