@import 'tailwindcss';
@config '../../tailwind.config.js';

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    'Apple Color Emoji',
    'Segoe UI Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #f8fafc;
  color: #0f172a;
}

.dark body {
  background: #0b1220;
  color: #e5e7eb;
}
